In [1]:
z=["jithu","jibu","prince","puppy"]

In [2]:
z[0:3]

['jithu', 'jibu', 'prince']

In [3]:
plus2=[30,50,40,20,45,35]

In [4]:
plus2[0:3]

[30, 50, 40]

In [5]:
plus2[0]+plus2[1]+plus2[2]

120

In [7]:
sum(plus2)

220

In [8]:
sum(plus2[0:3])

120

In [10]:
plus2[-1:]

[35]

In [11]:
plus2[-3:-1]

[20, 45]

In [12]:
sum(plus2[-3:-1])

65

In [13]:
x="india is my country"

In [14]:
x.capitalize()

'India is my country'

In [16]:
y="jithu"
y.capitalize()

'Jithu'

In [17]:
x[0:5]

'india'

In [18]:
x[-1]

'y'

In [20]:
x

'india is my country'

In [23]:
x.strip()

'india is my country'

In [24]:
x="INDIA"

In [25]:
x.lower()

'india'

In [26]:
x.upper()

'INDIA'

In [27]:
x="India is my country"

In [30]:
a=x.count("India is my country")

In [31]:
a

1

In [33]:
y="jithu is a girl"
y.split()

['jithu', 'is', 'a', 'girl']

In [34]:
x="india is my country"

In [36]:
x+x+x

'india is my countryindia is my countryindia is my country'

In [37]:
x*3

'india is my countryindia is my countryindia is my country'

In [38]:
z="jithu"
z.strip()

'jithu'

In [40]:
x=25
while(x<=50):
    print("value of x=",x)
    x=x+1

value of x= 25
value of x= 26
value of x= 27
value of x= 28
value of x= 29
value of x= 30
value of x= 31
value of x= 32
value of x= 33
value of x= 34
value of x= 35
value of x= 36
value of x= 37
value of x= 38
value of x= 39
value of x= 40
value of x= 41
value of x= 42
value of x= 43
value of x= 44
value of x= 45
value of x= 46
value of x= 47
value of x= 48
value of x= 49
value of x= 50

In [52]:
x=10
while(x>0):
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [3]:
x=10
while x>0:
    if x==5:
        print(x)
    x=x-1

5

In [4]:
tea=int(input("Enter price of tea"))
num=int(input("Enter num of tea"))
cost=num*tea
print("price=",cost)

Enter price of tea3
Enter num of tea2
price= 6

In [5]:
def sarin():
    tea=int(input("Enter price of tea"))
    num=int(input("Enter num of tea"))
    cost=num*tea
    print("price=",cost)

In [6]:
sarin()

Enter price of tea20
Enter num of tea2
price= 40

In [7]:
sarin()

Enter price of tea10
Enter num of tea5
price= 50

In [8]:
#add 2 nums
x=10
y=20
z=x+y
print('answer =',z)

answer = 30

In [33]:
def sum():
    x=10
    y=20
    z=x+y
    print("answer =",z)

In [34]:
sum()

answer = 30

In [37]:
def res(x,y):
    z=x+y
    print("Answer =",z)

In [38]:
x=3
y=10
res(x,y)

Answer = 13

In [39]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))
res(x,y)

Enter first number10
Enter second number5
Answer = 15

In [40]:
def sum(x,y):
    z=x+y
    return z

In [43]:
d=sum(10,20)
print(d)

30

In [17]:
for p in range(0,10):
    print(p)

0
1
2
3
4
5
6
7
8
9

In [27]:
sum=0
for p in range (0,101):
    sum=sum+p
print("sum=",sum)

sum= 5050

In [28]:
x=["adam","don","jua","jo","raviz","jin"]

In [29]:
for p in x :
    print("Name in the list :",p)

Name in the list : adam
Name in the list : don
Name in the list : jua
Name in the list : jo
Name in the list : raviz
Name in the list : jin

In [3]:
def sum():
    x=15
    y=10
    z=x+y
    print("result=",z)

In [4]:
sum()

result= 25

In [6]:
x=10
y=20
z=x+y
print(z)

30

In [7]:
speed=int(input("Enter the speed"))
if speed>60 :
  print("it is Over speed")
if speed<60 :
  print("it is Normal speed")

Enter the speed5
it is Normal speed

In [1]:
p=int(input("Enter the purchase amount"))
print("You have purchased for Rs",p)

if p>10000:
    bill=p - (p*(30/100))
    print("Congrats your discounted bill is Rs",bill)

if 5000<p<10000:
    bill=p - (p*(20/100))
    print("Congrats your discounted bill is Rs",bill)

if 0<p<5000:
    bill=p - (p*(10/100))
    print("Congrats your discounted bill is Rs",bill)

Enter the purchase amount7000
You have purchased for Rs 7000
Congrats your discounted bill is Rs 5600.0