In [17]:
1+1

2

In [18]:
1+3

4

In [19]:
1*2

2

In [20]:
3*3

9

In [21]:
3/3

1.0

In [22]:
1/10

0.1

In [23]:
1-10

-9

In [24]:
5-3

2

In [25]:
5**2

25

In [26]:
6**2

36

In [27]:
2**3

8

In [28]:
17%3

2

In [29]:
5 * 2 + 3

13

In [30]:
5%2

1

In [31]:
6%3

0

In [32]:
12%3

0

In [33]:
8%3

2

In [34]:
customer1=2*10+3*6

In [35]:
customer1

38

In [36]:
tea=10

In [37]:
snack=8

In [38]:
customer2 =5*tea + 4*snack

In [39]:
customer2

82

In [40]:
print(customer2)

82

In [41]:
print("Hello Myname")

Hello Myname

In [42]:
print("Customer2 bill =",customer2,"Rs")

Customer2 bill = 82 Rs

In [43]:
GST =12.5 / 100

In [44]:
customer2GST =GST*customer2

In [45]:
customer2GST

10.25

In [46]:
customernew = customer2+customer2GST

In [47]:
customernew

92.25

In [48]:
customer2 = customer2 + (GST*customer2)

In [49]:
print("Customer2 bill after GST =",customer2,"Rs")

Customer2 bill after GST = 92.25 Rs

In [3]:
t=input("Enter price of tea ")

Enter price of tea 10

In [7]:
n=input("Enter the number of teas")

Enter the number of teas5

In [8]:
t*n

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
type(t)

str

In [10]:
type(n)

str

In [11]:
t=int(t)

In [12]:
n=int(n)

In [13]:
type(t)

int

In [14]:
type(n)

int

In [15]:
t*n

50

In [16]:
t

10

In [17]:
n

5

In [18]:

a=b=c=1

In [19]:
a

1

In [20]:
b

1

In [21]:
c

1

In [22]:
a,b,c =1,2,"jo"

In [23]:
a

1

In [24]:
b

2

In [25]:
c

'jo'

In [26]:
type(c)

str

In [27]:
type(a)

int

In [28]:
x="Hello World!"

In [29]:
x[0]

'H'

In [30]:
x[10]

'd'

In [31]:
x[0:1]

'H'

In [32]:
x[0:2]

'He'

In [33]:
x[0:3]

'Hel'

In [34]:
x[0:4]

'Hell'

In [35]:
x[0:5]

'Hello'

In [36]:
x[2:]

'llo World!'

In [37]:
x[:]

'Hello World!'

In [38]:
x[1:]

'ello World!'

In [39]:
x[-1]

'!'

In [40]:
x[-2]

'd'

In [41]:
x[:-2]

'Hello Worl'

In [42]:
x[-2:]

'd!'

In [43]:
x*2

'Hello World!Hello World!'

In [44]:
x+x

'Hello World!Hello World!'

In [45]:
x*5

'Hello World!Hello World!Hello World!Hello World!Hello World!'

In [46]:
x+5*x

'Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!'

In [47]:
x=50
if(x==100):
   print("Value of expression is 100")
else:
   print("x=",x)

x= 50

In [48]:
a=21
b=10
if(a == b):
    print("Line 1- a is equal to b")
else:
    print("Line 1- a is not equal to b")
    
if(a != b):
    print("Line 2 - a is not equal to b")
else:
    print("Line 2 - a is equal to b")

if(a < b):
    print("Line 3 - a is less than  b")
else:
    print("Line 2 - a is greater than b")
    
if(a > b):
    print("Line 4 - a is greater than  b")
else:
    print("Line 4 - a is less than b")

Line 1- a is not equal to b
Line 2 - a is not equal to b
Line 2 - a is greater than b
Line 4 - a is greater than  b

In [49]:
a,b = b,a #swapping elements

In [50]:
a

10

In [51]:
b

21

In [52]:
if(a <= b):
    print("Line 5- a is either less than or equal to b")
else:
    print("Line 5-a is neither less than or equal to b")
    
if(a >= b):
    print("Line 6- a is either greater than or equal to b")
else:
    print("Line 6-a is neither greater than or equal to b")

Line 5- a is either less than or equal to b
Line 6-a is neither greater than or equal to b

In [53]:
fruits=["apple","grape","orange"]

In [54]:
fruits[0]

'apple'

In [55]:
fruits[0:3]

['apple', 'grape', 'orange']

In [56]:
fruits[1]

'grape'

In [57]:
fruits[0:2]

['apple', 'grape']

In [58]:
fruits[0:1]

['apple']

In [59]:
a=10
b=20
list = [1,2,3,4,5]

if (a in list):
    print("Line 1 - a is available in the given list")
else:
    print("Line 1 - a is not available in the given list")

if (b in list):
    print("Line 2 - b is available in the given list")
else:
    print("Line 2 - b is not available in the given list")
    
c=b/a
if (c in list):
    print("Line 3 - a is available in the given list")
else:
    print("Line 3 - a is nit available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [60]:
a = int (input ("Enter the number a = "))
b = int (input("Enter the number b = "))

list = [1,2,3,4,5]

if (a in list):
    print("Line 1 - a is available in the given list")
else:
    print("Line 1 - a is not available in the given list")

if (b in list):
    print("Line 2 - b is available in the given list")
else:
    print("Line 2 - b is not available in the given list")
    
c=b/a
if (c in list):
    print("Line 3 - c is available in the given list")
else:
    print("Line 3 - c is nit available in the given list")

Enter the number a = 5
Enter the number b = 10
Line 1 - a is available in the given list
Line 2 - b is not available in the given list
Line 3 - c is available in the given list

In [61]:
a = 2
print("a",a,":", bin(a))

a 2 : 0b10

In [62]:
a=60            #60= 0011 1100
b=13            #13= 0000 1101
print("a=",a,":",bin(a),'b = ',b,':',bin(b))
c=0

c = a & b;    #12 = 0000 1100
print("Result of AND is",c,":",bin(c))

c = a | b;    #61 = 0011 1101
print ("Result of OR is",c,":",bin(c))

c=a ^ b     #49 = 0011 0001
print("Result of EXOR is",c,":",bin(c))

c = ~a;        #-61 = 1100 0011
print("Result of compliment is ",c,":",bin(c))

c = a << 2;   #240 = 1111 0000
print("Result of left shift is",c,":",bin(c))

c = a >> 2   #15 = 0000 1111
print("Result of right shift is",c,":",bin(c))

a= 60 : 0b111100 b =  13 : 0b1101
Result of AND is 12 : 0b1100
Result of OR is 61 : 0b111101
Result of EXOR is 49 : 0b110001
Result of compliment is  -61 : -0b111101
Result of left shift is 240 : 0b11110000
Result of right shift is 15 : 0b1111

In [2]:
a=int(input("Enter the number x = "))
b=int(input("Enter the number y ="))
print("Line 1-", 'a=',a,":",id(a),"b=",b,":",id(b))

if(a is b):
    print("Line 2- a and b have same identity")
else:
    print("Line 2- a and b do not have same identity")
    
if(id(a) == id(b) ):
    print("Line 3- a and b have same identity")
else:
    print("Line 3- a and b do not have same identity")
    
b=30
print("Line 4","a=",a,":",id(a),"b=",b,":",id(b))

if(a is not b):
    print("Line 5 - a and b donot have same identity")
else:
    print("Line 5 - a and b have same identity")

Enter the number x = 20
Enter the number y =20
Line 1- a= 20 : 1805114816 b= 20 : 1805114816
Line 2- a and b have same identity
Line 3- a and b have same identity
Line 4 a= 20 : 1805114816 b= 30 : 1805114976
Line 5 - a and b donot have same identity

In [5]:
a=21
b=10
c=0

c=a+b
print("Line 1- Value of c is",c)

c+=a
print("Line 2 - Value of c is ",c)

c*=a
print("Line 3 -Value of c is",c)

c/=a
print("Line 4 -Value of c is",c)

c=2
c%=a
print("Line 5 -Value of c is",c)

c **=a
print("Line 6 -Value of c is",c)

c //=a
print("Line 7 -Value of c is",c)

Line 1- Value of c is 31
Line 2 - Value of c is  52
Line 3 -Value of c is 1092
Line 4 -Value of c is 52.0
Line 5 -Value of c is 2
Line 6 -Value of c is 2097152
Line 7 -Value of c is 99864

In [8]:
amount = int(input("Enter amount: "))

if amount<1000:
    discount = amount*0.05
    print("Discount",discount)
else:
    discount=amount*0.10
    print("Discount",discount)

print("Net payable: ",amount-discount)

Enter amount: 10
Discount 0.5
Net payable:  9.5

In [13]:
amount= int(input("Enter amount: "))

if amount<1000:
    discount=amount*0.05
    print("Discount",discount)
elif amount<5000:
    discount=amount*0.10
    print("Discount",discount)
else:
    discount=amount*0.15
    print("Discount",discount)

print("Net payable:",amount-discount)

Enter amount: 20
Discount 1.0
Net payable: 19.0

In [16]:
num=int(input("Enter the number"))
if num%2==0:
    if num%3 == 0:
        print("Divisible ny 3 and 2")
    else:
        print("Divisible by 2 not divisible by 3")
else:
    if num%4 ==0:
        print("Divisible by 3 not divisible by 2")
    else:
         print("Not divisible by 2 not divisible by 3")

Enter the number20
Divisible by 2 not divisible by 3

In [18]:
count=0
while (count<9):
    print("Count:",count)
    count=count+1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Count: 6
Count: 7
Count: 8

In [ ]:
var=1
while var == 1: 
    num=int(input("Enter the number :"))
    print("You entered:",num)

Enter the number :2
You entered: 2
Enter the number :5
You entered: 5
Enter the number :6
You entered: 6

In [2]:
count = 0
while count < 5:
    print(count,"is less than 5")
    count=count+1
else:
    print(count,"is greater than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is greater than 5

In [3]:
k=[1,2,3,4,5]

In [4]:
for x in k:
    print(x)

1
2
3
4
5

In [5]:
for x in 'python':
    print("Current letter :",x)

Current letter : p
Current letter : y
Current letter : t
Current letter : h
Current letter : o
Current letter : n

In [6]:
fruits=['banana','apple','orange']
for c in range(len(fruits)):
    print("Current fruit:",fruits[c])

Current fruit: banana
Current fruit: apple
Current fruit: orange

In [7]:
abs(-45)

45

In [8]:
import math
math.log(5)

1.6094379124341003

In [9]:
max(80,100,1000)

1000

In [10]:
max(2,10,4)

10

In [11]:
x=max(0,50,20)

In [12]:
x

50

In [13]:
min(20,0,100)

0

In [14]:
min(-1,-522,-45)

-522

In [16]:
import math 
math.log10(10)

1.0

In [17]:
math.pow(2,4)

16.0

In [18]:
math.sqrt(16)

4.0

In [19]:
math.sqrt(2)

1.4142135623730951

In [20]:
import random
random.random()

0.7157598345017219

In [21]:
math.sin(3)

0.1411200080598672

In [22]:
math.cos(6)

0.960170286650366

In [23]:
math.sin(math.pi/2)

1.0

In [24]:
x="Python Programming"
y="For AI"
x+y

'Python ProgrammingFor AI'

In [27]:
x+" "+y

'Python Programming For AI'

In [28]:
x.capitalize()

'Python programming'

In [30]:
var1="hello world!"
print("Updated String:-",var1[:6] + 'Python')

Updated String:- hello Python

In [33]:
b="Hello World"
print(b[-5:-2])

Wor

In [35]:
a="dream,catcher"
print(a.strip())

dream,catcher

In [41]:
a="dream catcher"
a=a.upper()
print(a)
a.lower()

DREAM CATCHER

'dream catcher'

In [43]:

print(a.replace("M","L"))

DREAL CATCHER

In [48]:
x="cat log "
print(x.split())

['cat', 'log']

In [53]:
x="my love "
print(x.split())

['my', 'love']

In [55]:
txt="You are my life jua"
x="are" in txt
print(x)

True

In [56]:
txt="I love apples, apples are my favourite fruit"
x=txt.count('apples')
print(x)

2

In [57]:
txt="I love apples, apple is my favourite fruit"
x=txt.count('apples')
print(x)

1

In [58]:
txt="dcatcher1"
x=txt.isalnum()
print(x)

True

In [59]:
txt="dcatcher 1"
x=txt.isalnum()
print(x)

False

In [60]:
txt="dcatcher"
x=txt.isalpha()
print(x)

True

In [61]:
txt="123"
x=txt.isalnum()
print(x)

True

In [62]:
txt="123"
x=txt.isalpha()
print(x)

False

In [63]:
txt="DREAM CACTHER"
txt.lower()

'dream cacther'

In [65]:
txt="D'CacthER iS DreaM CACTcheR"
txt.swapcase()

"d'cACTHer Is dREAm cactCHEr"

In [66]:
x = ["apple", "banana", "cherry"]
x[1] = "blackcurrant"
print(x)

['apple', 'blackcurrant', 'cherry']

In [67]:
x = ["apple", "banana", "cherry"]
for x in x:
    print(x)

apple
banana
cherry

In [69]:
x = ["apple", "banana", "cherry"]
if "apple" in x:
    print("Yes apple is in the list")

Yes apple is in the list

In [1]:
x = ["apple", "banana", "cherry"]
y=input()
if y in x:
    print("Yes apple is in the list")

In [2]:
z = ["abc", "efg", "hij"]
print(len(z))

3

In [3]:
z = ["abc", "efg", "hij"]
z.append('klm')
print (z)

['abc', 'efg', 'hij', 'klm']

In [4]:
z = ["baby", "i", "love"]
z.insert(1,'you')
print (z)

['baby', 'you', 'i', 'love']

In [5]:
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [6]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [8]:
thislist=["apple","banana","cherry"]
del thislist

In [10]:
thislist=["apple","banana","cherry"]
mylist=thislist.copy()
mylist

['apple', 'banana', 'cherry']

In [14]:
list1=['a','b','c']
list2=[1,2,3]
list3=list1+list2
print (list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
points=[1,4,2,9,7,8,3,1,9]
x=points.count(9)
x

2

In [20]:
fruits=['apple','orange','cherry','mango']
fruits.reverse()
fruits

['mango', 'cherry', 'orange', 'apple']

In [21]:
fruits=['apple','orange','cherry','mango']
fruits.sort()
fruits

['apple', 'cherry', 'mango', 'orange']

In [22]:
cars=['Ford','BMw','Volvo']
cars.sort()
cars

['BMw', 'Ford', 'Volvo']